---
import "../styles/global.css";
import CalculadoraInversion from '../components/CalculadoraInversion.astro';
---

<html lang="es">
  <head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <meta charset="UTF-8" />
    <title>Inicio</title>
  </head>
  <body class="bg-gray-100 font-sans">
    <header class="bg-gradient-to-r from-blue-900 to-blue-700 text-white py-8 px-4 text-center">
      <h1 class="text-3xl font-bold">Calculadora de Inversión - Dispositivo PRO2</h1>
      <p class="mt-2 text-lg">Análisis detallado de la inversión con costos fijos y variables</p>
    </header>

    <main class="flex justify-center mt-10">
      <CalculadoraInversion />
    </main>
  </body>
</html>

